
body {
	padding-top: 70px;
  background-color: #d0e4fe;
  text-align: center;
}

h1 {
  font-family: 'Lobster', cursive;
  color: orange;
}

p {
  font-family: "Courier New";
  font-size: 30px;
}

#doge-image img {
  height: 140px;
  margin-top: 20px;
}
.my-class {
	background-color: #3339b7;
}
.hello-world-color {color: #3db4c7 !important;

}

.project-image {width: 128px}
.project-body  {text-align: left;}