
<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<body>
<% include ../partials/navbar %>
  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <h1>YOYO my name is Amani</h1>
  </div>
 
  <div class="container">
    <div class="media">
      <div class="media-left">
	    <a href="#">
	      <img class="media-object width project-image" src="/images/doge2.jpg" alt="...">
	    </a>
	  </div>
	  <div class="media-body project-body">
	    <h4 class="media-heading">Media heading</h4>
	    doge project
	  </div>
	</div>
	 <div class="media">
      <div class="media-left">
	    <a href="#">
	      <img class="media-object width project-image" src="/images/doge2.jpg" alt="...">
	    </a>
	  </div>
	  <div class="media-body project-body">
	    <h4 class="media-heading">Media heading</h4>
	    doge project
	  </div>
	</div>
  </div>
  
</body>

</html>